:root {
  --border-color: black;
  --primary-color: #3300ff;
  --secondary-color: #0099ff;
}

@keyframes wave {
  0% { transform: skew(-3deg, 0deg);}
  100% { transform: skew(3deg, 1deg) scaleY(0.96);}
}

@keyframes shit {
  100% { transform: scaleY(0.9);}
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  background: var(--primary-color);
  background: linear-gradient(30deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

h1 {
  display: flex;
  margin: auto;
  font-size: 3em;
  letter-spacing: 0.25em;
  text-align: center; /* for super tiny screens */

  text-shadow:
    -4px 0 0 var(--border-color),
    -3px 2px 0 var(--border-color),
    -2px 3px 0 var(--border-color),
    -1px 3px 0 var(--border-color),
    0 4px 0 var(--border-color),

    4px 0 0 var(--border-color),
    3px 2px 0 var(--border-color),
    2px 3px 0 var(--border-color),
    1px 3px 0 var(--border-color),

    -4px 0 0 var(--border-color),
    -3px -2px 0 var(--border-color),
    -2px -3px 0 var(--border-color),
    -1px -3px 0 var(--border-color),
    0 -4px 0 var(--border-color),

    4px 0 0 var(--border-color),
    3px -2px 0 var(--border-color),
    2px -3px 0 var(--border-color),
    1px -3px 0 var(--border-color),

    -6px 6px 10px #00000060;
}

h1 span {
  display: block;
}

.Shit {
  transform-origin: bottom center;
  -webkit-animation: shit 0.9s infinite alternate ease-in-out; /* Safari 4+ */
  -moz-animation:    shit 0.9s infinite alternate ease-in-out; /* Fx 5+ */
  -o-animation:      shit 0.9s infinite alternate ease-in-out; /* Opera 12+ */
  animation:         shit 0.9s infinite alternate ease-in-out; /* IE 10+, Fx 29+ */
}

.Fire {
  transform-origin: bottom center;
  -webkit-animation: wave 1s infinite alternate ease-in-out; /* Safari 4+ */
  -moz-animation:    wave 1s infinite alternate ease-in-out; /* Fx 5+ */
  -o-animation:      wave 1s infinite alternate ease-in-out; /* Opera 12+ */
  animation:         wave 1s infinite alternate ease-in-out; /* IE 10+, Fx 29+ */
}